.backgroundImg {
    background: url('https://i.ibb.co/nMy03DL/5570173.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: fit-content;
}