.detailsBanner{
    background: url('https://i.ibb.co/QCHFmYY/20822846-NA-October-10.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: auto;

}

